{% extends 'base.html.twig' %}

{% block title %}Комментарии{% endblock %}

{% block body %}

    {% include 'header.html' %}
    <section class="content">
      <div class="container">
        <div class="comments">
          {% for comment in comments %}
            <div class="singleComment">
              <span class="nameTag">{{ comment.name }}</span>
              <span class="dateTag">{{ comment.created_at|date("H:i d.m.Y ") }}</span>
              <div class="commentText">{{ comment.comment }}</div>
            </div>
          {% endfor %}
        </div>

        <hr/>
        <h3 class="formTitle">Оставить комментарий</h3>

        <form method="post">
          <label for="name">Ваше имя</label>
          <br>
          <input type="text" id="name" name="name" class="inputField" required>
          <br>
          <label for="comment">Ваш комментарий</label>
          <br>
          <textarea id="comment" name="comment" rows="10" cols="30" class="inputField" required></textarea>
          <br>
          <input class="btn" type="submit" value="Отправить">
        </form>
      </div>
    </section>
    {% include 'footer.html' %}

{% endblock %}
